* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: helvetica,Arial,sans-serif;
}

#main {

}

#header {
    height: 46px;
    background-color: #000;

}

#nav {

}

#nav li {
    display: inline-block;
    position: relative;


}

#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 46px;

}

#nav .subnav {
    /*display: none;*/
    position: absolute;
    background-color: #fff;
}

#nav li:hover a {
    color: #000;
    background-color: #ccc;
    display: inline-block;

}

#nav .subnav:hover {
    background-color: #000;
    display: block;
    color: #ccc;
}

#siler {
    background-color: #000;
    width: 500px;
}